@page "/Contact"
@model WebProjektRazor.Pages.Shared.ContactModel
@{
}
<body>
    <h1>Dane:</h1>
    Imię:
    <input type="text" name="imie">
    <br>
    Nazwisko:
    <input type="text" name="nazwisko">
    <br>
    Marka samochodu:
    <input type="text" name="marka">
    <br>
    Model:
    <input type="text" name="model">
    <br>

    Wybierz usługę z listy:

    <select class="Wybierzzlisty" id="Wybierzzlisty" name="usluga">
        <optgroup label="Wybierz">
            <option value="Mycie Detailingowe">Mycie Detailingowe</option>
            <option value="Regeneracja Lakieru">Regeneracja Lakieru</option>
            <option value="Powłoka Ceramiczna">Powłoka Ceramiczna</option>
            <option value="Detailing Wnętrza">Detailing Wnętrza</option>
            <option value="Regeneracja Reflektorów">Regeneracja Reflektorów</option>
            <option value="Naklejanie Folii">Naklejanie Folii</option>
            <option value="Przyciemnianie Szyb">Przyciemnianie Szyb</option>
        </optgroup>
    </select>
</body>