@page "/Orders"
@model WebProjektRazor.Pages.Shared.OrdersModel
@{
    ViewData["Title"] = "Orders";
}

<body>
    <div class="ProductsOrders1">

        <div>
            <h1>Quickdetailer</h1>
                <img src="" alt="Quick Detailer" />
                    <h3>Cena: bierze z bazy</h3>
                        <button class="ButtonOrders">Dodaj do koszyka</button>
        </div>

        <div>
            <h1>Wosk</h1>
                <img src="" alt="Wosk" />
                    <h3>Cena: bierze z bazy</h3>
                        <button class="ButtonOrders">Dodaj do koszyka</button>
        </div>

        <div>
            <h1>Shampoo</h1>
                <img src="" alt="Shampoo" />
                    <h3>Cena: bierze z bazy</h3>
                        <button class="ButtonOrders">Dodaj do koszyka</button>
        </div>

        <div>
            <h1>Bloody Wheels</h1>
                <img src="" alt="Bloody Wheels" />
                    <h3>Cena: bierze z bazy</h3>
                        <button class="ButtonOrders">Dodaj do koszyka</button>
        </div>
    </div>

    <div class="ProductsOrders2">

        <div>
            <h1>Ice Crusher</h1>
                <img src="" alt="Ice Crusher" />
                    <h3>Cena: bierze z bazy</h3>
                        <button class="ButtonOrders">Dodaj do koszyka</button>
        </div>

        <div>
            <h1>Rakla</h1>
                <img src="" alt="Rakla" />
                    <h3>Cena: bierze z bazy</h3>
                        <button class="ButtonOrders">Dodaj do koszyka</button>
        </div>

        <div>
            <h1>Mikrofibry (różne kolory)</h1>
                <img src="" alt="Microfiber" />
                    <h3>Cena: bierze z bazy</h3>
                        <button class="ButtonOrders">Dodaj do koszyka</button>
        </div>

        <div>
            <h1>Piana aktywna</h1>
                <img src="" alt="Active bubble" />
                    <h3>Cena: bierze z bazy</h3>
                        <button class="ButtonOrders">Dodaj do koszyka</button>
        </div>
    </div>
</body>
