@page "/EmployeeUserPanel"
@model WebProjektRazor.Pages.Employee.EmployeeUserPanelModel


<head>
    <link rel="stylesheet" href="~/css/site.css">
</head>

<body>
    <h1>Tutaj kamilek zrob frontend dla pracownika</h1>
</body>