@page "/EmployeeUserPanel"
@model WebProjektRazor.Pages.EmployeePage.EmployeeUserPanelModel
@{
    ViewData["Title"] = "Panel Użytkownika";
}

<head>
    <link rel="stylesheet" href="~/css/site.css">
    <title>Pracownik - panel</title>
</head>

<body>
    <main>
<!-------------------------------------------------------------------------------------Menu pracownik-------------------------------------------------------------------------------------------------------------------------------------->

        <div class="Employeecss">
            <a>Zalogowano jako pracownik firmy detailingowej!</a>
        </div>

        <div class="Functionsemployees">
            <h2>Co chcesz teraz zrobić?</h2>

            <div class="FirstNav">
                <div class="Services">
                    <a href="ServicesNav">Usługi</a>
                </div>

                <div class="Orders">
                    <a href="OrdersNav"> Zamówienia </a>
                </div>
            </div>

            <div class="SecondNav">
                <div class="History">
                    <a href="HistoryNav">Historia Klientów</a>
                </div>

                <div class="Security">
                    <a href="ChangeDataUser">Zmiana Danych</a>
                </div>
            </div>

        </div>
<!-------------------------------------------------------------------------------------Menu pracownik-------------------------------------------------------------------------------------------------------------------------------------->

        <form method="post" asp-page-handler="Logout">
            <button type="submit" class="LogOutBttn">Wyloguj</button>
        </form>

    </main>
</body>