@page
@model WebProjektRazor.Pages.EmployeePage.HistoryModel
@{
    ViewData["Title"] = "History";
}

<body>
    <div class="Tables">
        <table border=1 class="TablesLeft">
            <tr>
                <td><b>Klient</b></td>
                <td><b>Data Zlecenia</b></td>
                <td><b>Samochód</b></td>
                <td><b>Cena</b></td>
                <td><b>Szczegóły</b></td>
            </tr>
            <tr>
                <td>Z bazy</td>
                <td>Data z bazy</td>
                <td>samochód z bazy</td>
                <td>cena z bazy</td>
                <td>z bazy</td>
            </tr>
        </table>


        <table border=1 class="TablesRight">
            <tr>
                <td><b>Nr. Zamówienia</b></td>
                <td><b>Data zamówienia</b></td>
                <td><b>Klient</b></td>
                <td><b>Szczegóły</b></td>
                <td><b>Cena</b></td>
            </tr>
            <tr>
                <td>Numer id z bazy</td>
                <td>Data z bazy"</td>
                <td>klient z bazy</td>
                <td><a href="/OrderProductsDetils">Szczegóły zamówienia</a></td>
                <td>Cena z bazy</td>
            </tr>
        </table> 
    </div>

    <div class="buttonsTable">
        <button class="BttnTableEdit">Edytuj</button>
        <button class="BttnTableDelete">Usuń</button>
    </div>
</body>

