@page "/Services"
@model WebProjektRazor.Pages.EmployeePage.ServicesModel
@{
}

<body>
    <div class="TableServices">
        <table border="1" class="TableInfo">
        <tr>
            <td>Data</td>
            <td>Klient</td>
            <td>Samochód</td>
            <td>Usługa</td>
            <td>Realizacja</td>
            <td>Materiały</td>
            <td>Uwagi dla klienta</td>
        </tr>

        <tr>
            <td>01.05.2024</td>
            <td>J. Kowalski</td>
            <td>VW Golf</td>
            <td>Przyciemnianie Szyb</td>
            <td>W trakcie</td>
            <td>Folia do szyb</td>
            <td>Brak</td>
        </tr>
        </table>
            <div class="buttonsTable">
                <button class="BttnTableAdd">Dodaj</button>
                <button class="BttnTableEdit">Edytuj</button>
                <button class="BttnTableDelete">Usuń</button>
            </div>
    </div>
</body>