@page "/ClientUserPanel"
@model WebProjektRazor.Pages.UserPanelModel

<div style="text-align: center;">
    <h1>Zalogowałeś się jako Klient!</h1>
</div>

<div class="client">
    <a href="OrderHistory">Historia zamówień</a>
    <a href="ServiceHistory">Historia usług</a>
    <a href="AccountOptions">Ustawienia Konta</a>
</div>
