@page
@model IndexModel
@{
    ViewData["Title"] = "Strona Główna";
}

<head>
    <title>Strona Główna</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <div class="LineAboveGallery"></div>

    <div class="Gallery">
        <img id="carImage1" src="~/Pictures/Audi.png" alt="Audi">
        <img id="carImage2" src="~/Pictures/Subaru.png" alt="Subaru" class="hidden">
        <img id="carImage3" src="~/Pictures/nissan.png" alt="Nissan" class="hidden">
    </div>

    <div class="AboutUs">
        <p>
            Niezwykła jakość, personalizowana opieka, innowacyjne podejście.<br /> Twój samochód zasługuje na perfekcję. Profesjonalizm od pierwszego <br />kontaktu do odbioru.
            Dbałość o szczegóły, nowoczesne  <br />rozwiązania - nasza pasja to doskonałość w detalach.
        </p>
    </div>

    <div class="LineAboveProducts"></div>

    <h1 class="OurProducts">Nasze produkty</h1>

    <div class="Produkty">
        @foreach (var product in Model.Products)
        {
            <div class="ProductItem">
                <a href="/Orders">
                    <h1> @product.Name </h1>
                    <img src="~/@product.ImgPath" alt="@product.Name" class="ProductImage" />
                </a>
            </div>
        }
    </div>

    <div class="Line2"></div>

    <div class="Contact">
        <h1>Gdzie nas znaleźć?</h1>
        <div class="ContactContent">
            <div class="ContactData">
                <a>Telefon: 123 123 123</a><br />
                <a>Adres: Prószkowska 76,<br /> 45-758 Opole</a> <br />
                <a>NIP: 123 123 123</a>
            </div>
            <div class="Map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20230.46862020202!2d17.904003463028054!3d50.667814577628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471053bb1bcdafab%3A0xf2ef41915344d5dd!2sPolitechnika%20Opolska!5e0!3m2!1spl!2spl!4v1715792874181!5m2!1spl!2spl" class="Map" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

    <a href="https://Youtube.com/MarKamDetailing"><img src="~/Pictures/youtube.svg" class="Youtube"></a>
    <a href="https://Facebook.com/MarKamDetailing"><img src="~/Pictures/facebook.svg" class="Facebook"></a>
    <a href="https://Instagram.com/MarKamDetailing"><img src="~/Pictures/instagram.svg" class="Instagram"></a>
    <img src="~/Pictures/shortcut.PNG" class="WaterMark">
    <button class="backToTopBtn" id="backToTopBtn">Wróć do góry</button>
</body>
