@page
@model IndexModel
@{
    ViewData["Title"] = "Strona Główna";
}

<head>

</head>
<body>


    <div class="Produkty">

        <div class="Quick_Detailer">
            <h1> Quick Detailer </h1>
            <img src="Quick.png" href="#" class="QckJpg" />
        </div>

        <div class="APC_Interior">
            <h1> All protection Cleaner </h1>
            <img src="Apc.png" href="#" class="ApcJpg" />
        </div>

        <div class="Glass_cleaner">
            <h1> Glass cleaner </h1>
            <img src="Glass.png" href="#" class="GlassJpg" />
        </div>

        <div class="Wax">
            <h1> Wosk ochronny </h1>
            <img src="Wax.png" href="#" class="wax.jpg" />
        </div>
    </div>




    <div class="Contact">

        <h1>Gdzie nas znaleźć?</h1>

        <div class="ContactContent">

            <div class="ContactData">
                <a>Telefon: 123 123 123</a><br />
                <a>Adres: Prószkowska 76,<br /> 45-758 Opole</a> <br />
                <a>NIP: 123 123 123</a>
            </div>

            <div class="Map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20230.46862020202!2d17.904003463028054!3d50.667814577628!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471053bb1bcdafab%3A0xf2ef41915344d5dd!2sPolitechnika%20Opolska!5e0!3m2!1spl!2spl!4v1715792874181!5m2!1spl!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>
    </div>
</body>